In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\bwink\Downloads\Achievement 4'

In [3]:
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'products.csv'))

In [4]:
df_ords = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'orders.csv'))

In [5]:
df_ords.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
ords_nan = df_ords[df_ords['days_since_prior_order'].isnull() ==True]

In [8]:
ords_nan.shape

(206209, 7)

In [9]:
prods_nan = df_prods[df_prods['product_name'].isnull() ==True]

In [10]:
prods_nan.shape

(16, 5)

In [13]:
df_prior = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'order_products__prior.csv'))

In [ ]:
prior_nan = df_prior[df_prior[''].isnull() ==True]