In [5]:
#importing libraries and data
import os
import pandas as pd
import numpy as np

In [6]:
path = r'C:\Users\bwink\Downloads\Achievement 4'

In [20]:
df_products_combined = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_combined.pkl'), index_col = False)

TypeError: read_pickle() got an unexpected keyword argument 'index_col'

In [8]:
#Checking Shape
df_products_combined.shape

(32434489, 12)

In [16]:
df_prods = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [17]:
df_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [7]:
df_prods.shape

(49672, 6)

In [8]:
#Unsure why theres an unnamed column
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_products_combined.info

<bound method DataFrame.info of           Unnamed: 0  order_id  user_id eval_set  order_number  order_dow  \
0                  0   2539329        1    prior             1          2
1                  0   2539329        1    prior             1          2
2                  0   2539329        1    prior             1          2
3                  0   2539329        1    prior             1          2
4                  0   2539329        1    prior             1          2
...              ...       ...      ...      ...           ...        ...
32640693     3421081   2977660   206209    prior            13          1
32640694     3421081   2977660   206209    prior            13          1
32640695     3421081   2977660   206209    prior            13          1
32640696     3421081   2977660   206209    prior            13          1
32640697     3421082    272231   206209    train            14          6

          order_hour_of_day  days_since_prior_order  product_id  \
0                         8                     NaN       196.0
1                         8                     NaN     14084.0
2                         8                     NaN     12427.0
3                         8                     NaN     26088.0
4                         8                     NaN     26405.0
...                     ...                     ...         ...
32640693                 12                     7.0     38730.0
32640694                 12                     7.0     31477.0
32640695                 12                     7.0      6567.0
32640696                 12                     7.0     22920.0
32640697                 14                    30.0         NaN

          add_to_cart_order  reordered     _merge
0                       1.0        0.0       both
1                       2.0        0.0       both
2                       3.0        0.0       both
3                       4.0        0.0       both
4                       5.0        0.0       both
...                     ...        ...        ...
32640693                6.0        0.0       both
32640694                7.0        0.0       both
32640695                8.0        0.0       both
32640696                9.0        0.0       both
32640697                NaN        NaN  left_only

[32640698 rows x 12 columns]>

In [10]:
df_products_combined.dtypes

Unnamed: 0                   int64
order_id                     int64
user_id                      int64
eval_set                    object
order_number                 int64
order_dow                    int64
order_hour_of_day            int64
days_since_prior_order     float64
product_id                   int64
add_to_cart_order            int64
reordered                    int64
_merge                    category
dtype: object

In [9]:
df_prods.dtypes

Unnamed: 0         int64
product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [11]:
df_products_combined.isnull().sum()

Unnamed: 0                      0
order_id                        0
user_id                         0
eval_set                        0
order_number                    0
order_dow                       0
order_hour_of_day               0
days_since_prior_order    2078068
product_id                      0
add_to_cart_order               0
reordered                       0
_merge                          0
dtype: int64

In [19]:
df_merge = df_prods.merge(df_products_combined, on = ['product_id'])

In [20]:
#checking shape, seems to make sense
df_merge.shape

(32404859, 17)

In [21]:
#checking that product_id makes sense
df_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,NaN,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both

In [22]:
#checking merge flag
df_merge['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [23]:
#export
df_merge.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'df_merged_products.pkl'))